   <section>
    <dl class="advanced confirm">
      <dt><%= t(:shipping_address) %></dt>
      <dd><%= @order.ship_address %><%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></dd>
      <dt><%= t(:billing_address) %></dt>
      <dd><%= @order.bill_address %><%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></dd>
      <% if @order.has_step?("delivery") %>
        <dt><%= t(:shipping_method) %></dt>
        <dd><%= @order.shipping_method.name %><%= link_to "(#{t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %></dd>
      <% end %>
      <% if @order.price_adjustment_totals.present? %>
          <% @order.price_adjustment_totals.keys.each do |key| %>
            <dt> <%= key %> </dt>
            <dd><%= money @order.price_adjustment_totals[key] %></dd>
          <% end %>
      <% end %>
      <dt><%= t(:subtotal) %></dt>
      <dd><%= money @order.item_total %></dd>
      <% @order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
          <dt> <%= adjustment.label %> </dt>
          <dd><%= money adjustment.amount %></dd>
      <% end %>
      <dt><%= t(:order_total) %></dt>
      <dd><%= money @order.total %></dd>
    </dl>
  </section>


  <ul class="shopping-bag">
    <% @order.line_items.each do |item| %>
      <li>
        <figure>
          <% if item.variant.images.length == 0 %>
              <%= small_image(item.variant.product)%>
            <% else %>
              <%= image_tag(item.variant.images.first.attachment.url(:small)) %>
            <% end %>
        </figure>
        <div>
            <h2><%= link_to item.variant.product.name, product_path(item.variant.product) %></h2>
            <p><%= line_item_description(item.variant) %></p>
            <p><%= item.variant.options_text %></p>
            <dl class="advanced">
              <dt>Price</dt>
              <dd><%=money item.price%></dd>
              <dt>Quantity</dt>
              <dd><%=item.quantity%></dd>
              <dt>Total</dt>
              <dd><%= money(item.price * item.quantity) %></dd>
            </dl>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="buttons">
    <%= submit_tag "Confirm and start payment", :class => 'continue button primary right' %>
  </div>

