<section>
  <h2><%= t(:shipping_method) %></h2>
    <div>
		<ul>
		  <li>
            <%= form.fields_for :shipments do |ship_form| %>
               <% ship_form.object.shipping_rates.each do |rate| %>
                   <div>
                     <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %> &nbsp;
                     <%= rate.name %> <%= rate.display_cost %>
                   </div>
                <% end %>
            <% end %>

		  </li>
		</ul>
    </div>
    <div class="free_shipping_text">Free shipping for purchase: <br/> +€350 within Europe <br/> +€500 worldwide</div>
</section>

<div class="buttons">
  <%= submit_tag t(:save_and_continue), :class => 'continue button primary right' %>
</div>
