<section>
  <dl class="advanced confirm">
    <dt><%= Spree.t(:shipping_address) %></dt>
    <dd><%= @order.ship_address %><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></dd>
    <dt><%= Spree.t(:billing_address) %></dt>
    <dd><%= @order.bill_address %><%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless @order.completed? %></dd>

    <% if @order.has_step?("delivery") %>
      <% @order.shipments.each do |shipment| %>
        <dt><%= Spree.t(:shipping_method) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless @order.completed? %></dt>
        <dd>
          <%= Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
        </dd>
      <% end %>
    <% end %>
    
    <!-- subtotal -->
    <dt><%= Spree.t(:subtotal) %></dt>
    <dd><%= @order.display_item_total.to_html %></dd>
    <!-- subtotal -->

    <!-- order taxes -->
    <% if @order.all_adjustments.tax.exists? %>
      <% @order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
        <dt><%= Spree.t(:tax) %>: <strong><%= label %></strong></dt>
        <dd><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %><dd>
      <% end %>
    <% end %>
    <!-- order taxes -->

    <!-- order promotions -->
    <% @order.adjustments.eligible.each do |adjustment| %>
      <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
      <dt> <%= adjustment.label %> </dt>
      <dd><%= money adjustment.display_amount.to_html %></dd>
    <% end %>
    <!-- order promotions -->

    <!-- shipments amount considering discounts -->
    <% @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
      <dt><%= Spree.t(:shipping) %>: <strong><%= name %></strong></dt>
      <dd><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency).to_html %></dd>
    <% end %>
    <!-- shipments amount considering discounts -->

    <dt><%= Spree.t(:order_total) %></dt>
    <dd><%= @order.display_total.to_html %></dd>
  </dl>
</section>

<ul class="shopping-bag">
  <% @order.line_items.each do |item| %>
      <li>
        <figure>
          <% if item.variant.images.length == 0 %>
              <%= small_image(item.variant.product)%>
          <% else %>
              <%= image_tag(item.variant.images.first.attachment.url(:small)) %>
          <% end %>
        </figure>
        <div>
          <h2><%= link_to item.variant.product.name, product_path(item.variant.product) %></h2>
          <p><%= item.variant.options_text %></p>
          <dl class="advanced">
            <dt>Price</dt>
            <dd><%= item.single_money.to_html %></dd>
            <dt>Quantity</dt>
            <dd><%= item.quantity %></dd>
            <dt>Item Total</dt>
            <dd><%= item.display_amount.to_html %></dd>
          </dl>
        </div>
      </li>
  <% end %>
</ul>

<%= hidden_field_tag "order[payments_attributes][][payment_method_id]", @order.mollie_payment_method.id %>

<div class="buttons">
  <%= submit_tag "Confirm and start payment", :class => 'continue button primary right' %>
</div>
