<div data-hook="admin_user_form_fields">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name) %><br />
    <%= f.text_field :name %>
  <% end %>

  <%= f.field_container :position do %>
    <%= f.label :position, t(:position) %><br />
    <%= f.text_field :position %>
    <%= f.error_message_on :position %>
  <% end %>

  <%= f.field_container :page_url do %>
    <%= f.label :page_url, t(:page_url) %><br />
    <%= f.text_field :url %>
    <%= f.error_message_on :url %>
  <% end %>
  
  <%= f.field_container :attachment do %>
    <%= f.label :attachment, t(:image) %><br />
    <%= f.file_field :attachment %>
    <%= f.error_message_on :attachment %>
  <% end %>
  
  <%= f.field_container :slider1 do %>
    <%= f.label :slider1, t(:image_for_slider1) %><br />
    <%= f.check_box :slider1 %>
    <%= f.error_message_on :slider1 %>
  <% end %>
  
  <%= f.field_container :slider2 do %>
    <%= f.label :slider2, t(:image_for_slider2) %><br />
    <%= f.check_box :slider2 %>
    <%= f.error_message_on :slider2 %>
  <% end %>
  
  <%= f.field_container :medium do %>
    <%= f.label :medium, t(:medium_image) %><br />
    <%= f.check_box :medium %>
    <%= f.error_message_on :medium %>
  <% end %>
  
  <%= f.field_container :small do %>
    <%= f.label :small, t(:small_image) %><br />
    <%= f.check_box :small %>
    <%= f.error_message_on :small %>
  <% end %>
  
  <%= f.field_container :new_tab do %>
    <%= f.label :small, t(:open_in_new_tab) %><br />
    <%= f.check_box :new_tab %>
    <%= f.error_message_on :new_tab %>
  <% end %>
  
</div>
