<div class="toolbar" data-hook="toolbar">
  <ul class="actions">
    <li id="new_product_link">
      <%= button_link_to t(:new_image), new_admin_collection_image_path, { :remote => false, :icon => 'add', :id => 'new_collection_image' } %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t(:listing_requests) %></h1>

<div id="requests" data-hook></div>

<table class="index" id="listing_requests">
  <tr data-hook="admin_products_index_headers">
    <th>Name</th>
    <th>position</th>
    <th>Url</th>
    <th>Image</th>
    <th>Slider1</th>
    <th>Slider2</th>
    <th>Medium</th>
    <th>Small</th>
    <th>Action</th>
  </tr>
<% @collection_imgs.each do |image| %>
  <tr data-hook="information_requests">
    <td><%= image.name %></td>
    <td><%= image.position %></td>
    <td><%= image.url %></td>
    <td><%=image_tag image.attachment.url(:icon) %></td>
    <td><%= image.slider1 %></td>
    <td><%= image.slider2 %></td>
    <td><%= image.medium %></td>
    <td><%= image.small %></td>
    <td>
		<%= link_to "Delete ", admin_collection_image_path(image), :method => 'delete', :class => 'edit' %>
		|<%= link_to " Edit", edit_admin_collection_image_path(image), :class => 'edit' %></td>
	</td>
  </tr>
<% end %>
</table>
