  
 

<nav>
  <strong><a href="/" title="Ethnic Chic">Ethnic Chic</a></strong>
<!-- <img src="../assets/images/Ethnic-Chic-White-Logo-02.png" width="25%" height="25%"></img>
 -->  <ul>
      <!--TODO: change links back-->
      <%= spree_nav_link 'Home', root_path %>
      <%= spree_nav_link 'Impressions', impressions_path %>
      <%= spree_nav_link 'Online Shop', '/collection' %>
      <li><a href="http://blog.ethnicchic.com", target="_blank">Blog</a></li>
      <%= spree_nav_link 'About', '/about' %>
      <%= spree_nav_link 'Contact', contact_us_path %>
       
      <%= image_tag("Edward-Ethnic-Chic-Button01.png",width: '13%', height: '13%', align: 'right') %>
      </ul>  
</nav>

  
    