<ul class="bag">
  <li>
    <%= link_to raw("<span class=\"glyphicon glyphicon-heart #{ @product && has_favorite?(@product) ? 'red' : ''}\" aria-hidden=\"true\"></span><small>#{favorite_count}</small>"), favorites_path, id: "favorites", remote: true %>
  </li>
  <li>
    <a href="<%= spree.cart_path %>" title="Shopping Bag">Shopping Bag <small><%= current_order ? current_order.item_count : 0 %></small></a>
  </li>

  <% if spree_current_user %>
    <li><%= link_to t(:my_account), spree.account_path %></li>
    <li><%= link_to t(:logout), spree.destroy_spree_user_session_path %></li>
  <% else %>
    <li id="link-to-login"><%= link_to t(:login), spree.login_path %></li>
  <% end %>
</ul>

<style>
.bag{
  position:absolute;
  top:100px;
}
</style>